
*{
	margin: 0;
	padding: 0;
	outline: 0;
}

.container{
	display: grid;
	place-items: center;
}

.value {
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    font-size: 1.2rem;
    padding: 0 .5rem;
    cursor: pointer;
}